/* Global styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  overflow-x: hidden;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

router-outlet {
  display: block;
  margin-top: 80px;
  padding-bottom: 80px;
}
